
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Builds &amp; 
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="callout callout-info">
                  <small class="text-muted">Builds</small>
                  <br>
                  <strong class="h4">9,123</strong>
                </div>
              </div><!--/.col-->
              <div class="col-sm-6">
                <div class="callout callout-danger">
                  <small class="text-muted">Builds Exitosos</small>
                  <br>
                  <strong class="h4">22,643</strong>
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
           
          </div><!--/.col-->
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="callout callout-warning">
                  <small class="text-muted">Pageviews</small>
                  <br>
                  <strong class="h4">78,623</strong>
                </div>
              </div><!--/.col-->
              <div class="col-sm-6">
                <div class="callout callout-success">
                  <small class="text-muted">Organic</small>
                  <br>
                  <strong class="h4">49,123</strong>
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
          </div><!--/.col-->
        </div><!--/.row-->
        <br>
        <table class="table table-responsive-sm table-hover table-outline mb-0">
          <thead class="thead-light">
            <tr>
              <th class="text-center"><i class="icon-people"></i></th>
              <th>User</th>
              <th class="text-center">Country</th>
              <th>Usage</th>
              <th class="text-center">Payment Method</th>
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let repo of repositories">
              <td class="text-center">
                <div class="avatar">
                  <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </div>
              </td>
              <td>
                <div>{{repo.type}}</div>
                <div class="small text-muted">
                  <span>New</span> | Registered: Jan 1, 2015
                </div>
              </td>
              <td class="text-center">
                <i class="flag-icon flag-icon-us h4 mb-0" title="us" id="us"></i>
              </td>
              <td>
                <div class="clearfix">
                  <div class="float-left">
                    <strong>50%</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td class="text-center">
                <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
              </td>
              <td>
                <div class="small text-muted">Last login</div>
                <strong>10 sec ago</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->
<div class="card-group mb-4">
  <div class="card">
    <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
        <i class="icon-people"></i>
      </div>
      <div class="h4 mb-0">87.500</div>
      <small class="text-muted text-uppercase font-weight-bold">Programadores</small>
      <div class="progress progress-xs mt-3 mb-0">
        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
        <i class="icon-user-follow"></i>
      </div>
      <div class="h4 mb-0">385</div>
      <small class="text-muted text-uppercase font-weight-bold">Equipos</small>
      <div class="progress progress-xs mt-3 mb-0">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
        <i class="icon-basket-loaded"></i>
      </div>
      <div class="h4 mb-0">1238</div>
      <small class="text-muted text-uppercase font-weight-bold">Proyectos</small>
      <div class="progress progress-xs mt-3 mb-0">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
        <i class="icon-pie-chart"></i>
      </div>
      <div class="h4 mb-0">28%</div>
      <small class="text-muted text-uppercase font-weight-bold">Jobs</small>
      <div class="progress progress-xs mt-3 mb-0">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
        <i class="icon-speedometer"></i>
      </div>
      <div class="h4 mb-0">5:34:11</div>
      <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
      <div class="progress progress-xs mt-3 mb-0">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>


<div class="animated fadeIn">

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <h4 class="card-title mb-0">Traffic</h4>
        <div class="small text-muted">November 2017</div>
      </div><!--/.col-->
      <div class="col-sm-7 d-none d-md-block">
        <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
        <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
          <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
          <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
          <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="chart-wrapper" style="height:300px;margin-top:40px;">
      <canvas baseChart class="chart"
      [datasets]="mainChartData"
      [labels]="mainChartLabels"
      [options]="mainChartOptions"
      [colors]="mainChartColours"
      [legend]="mainChartLegend"
      [chartType]="mainChartType"></canvas>
    </div>
  </div>
  <div class="card-footer">
    <div class="row text-center">
      
  
    </div>
  </div>
</div>
<!--/.card-->

</div>
